@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Lilita+One&family=PT+Serif+Caption:ital@0;1&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

:root {
  font-family: Roboto, Arial, sans-serif; ;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
